@model MemoriesWebApp.Models.Meeting

@{
    ViewData["Title"] = "Delete";
}

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap" /></svg>
        <h1 class="text-body-emphasis">Czy napewno chcesz usunąć to spotkanie?</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Jest to akcja <warning>nieodwracalna</warning> i nie będzie można już przywrócić dat oraz zdjęć z tego spotkania
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button" asp-action="Delete">/>
                <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button" asp-action="Index">
                Powróć na poprzednią stronę
            </a>
            </form>
        </div>
    </div>
</div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
