@using MemoriesWebApp.Data.Enum
@model MemoriesWebApp.ViewModels.EditMeetingViewModel

@{
    ViewData["Title"] = "Edit";
}

<!-- Modal for confirmation saving -->
<div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Czy napewno chcesz zapisać zmiany?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center justify-content-center p-2">
                    <div class="col-auto">
                        <svg class="bi mt-2 mb-2" style="color: green" ; width="50" height="50">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                            </svg>
                        </svg>
                    </div>
                </div>
                <div class="row align-items-center p-2">
                    <p id="deleteMessage">Zapisanie zmian spowoduje <strong style="color:green">nieodwracalne</strong> nadpisanie istniejących informacji o spotkaniu</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Zamknij</button>
                <button id="confirmSaveButton" type="button" class="btn btn-success" data-bs-toggle="modal">Zapisz</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for information about saving 
<div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="infoModalLabel">Informacja</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center justify-content-center p-2">
                    <div class="col-auto">
                        <svg class="bi mt-2 mb-2" style="color: green" ; width="50" height="50">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                            </svg>
                        </svg>
                        <strong style="color:green; font-size:20px; margin-left:10px">Zapisano</strong>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="infoSaveButton" type="button" class="btn btn-outline-success" data-bs-dismiss="modal" onclick="history.back()">Ok</button>
            </div>
        </div>
    </div>
</div> -->

<form id="editForm" method="post" class="needs-validation novalidate" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group row">
        <label asp-for="MeetingCity" class="col-sm-2 col-form-label">Miejscowość</label>
        <div class="col-sm-10">
            <select asp-for="MeetingCity" asp-items="@Html.GetEnumSelectList<MeetingCity>()" class="form-control">
                <option>--Wybierz--</option>
            </select>
            <span asp-validation-for="MeetingCity" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row pt-3">
        <label asp-for="DateStart" class="col-sm-2 col-form-label">Data rozpoczęcia</label>
        <div class="col-sm-10">
            <input asp-for="DateStart" class="form-control" id="DateStart" placeholder="Data Rozpoczęcia" required>
            <span asp-validation-for="DateStart" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row pt-3">
        <label asp-for="DateEnd" class="col-sm-2 col-form-label">Data zakonczenia</label>
        <div class="col-sm-10">
            <input asp-for="DateEnd" class="form-control" id="DateEnd" placeholder="Data zakonczenia" required>
            <span asp-validation-for="DateEnd" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row pt-3 form-check">
        <label asp-for="Realized" class="form-check-label">
            <div class="col-sm-10">
                <input class="form-check-input" asp-for="Realized" /> Zrealizowano
                <span asp-validation-for="Realized" class="text-danger"></span>
            </div>
        </label>
    </div>
    <div class="form-group row pt-3">
        <label asp-for="Image" class="col-sm-2 col-form-label">Zdjęcie</label>
        <div class="col-sm-10">
            <input asp-for="Url" class="form-control" id="Url" type="hidden">
            <input asp-for="Image" type="file" class="form-control" id="Image">
        </div>
    </div>
    <div class="form-group row pt-3">
        <img id="imagePreview" style="display:none; max-height: 550px; width: auto;">
        <div class="col-sm-10">
            <a type="button" class="btn btn-outline-secondary" asp-action="Index">Powrót</a>
            <a id="openSaveModalButton" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#saveModal">Zapisz</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        let cropper;
        let croppedBlob;

        document.getElementById('Image').addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.getElementById('imagePreview');
                    img.src = e.target.result;
                    img.style.display = 'block';

                    if (cropper) {
                        cropper.destroy();
                    }

                    cropper = new Cropper(img, {
                        viewMode: 1,
                        aspectRatio: 1280 / 720,
                        cropBoxResizable: false,
                        cropBoxMovable: true,
                        dragMode: 'move',
                        ready: function () {
                            const containerData = cropper.getContainerData();
                            const aspectRatio = cropper.options.aspectRatio;

                            let cropBoxWidth = 1280;
                            let cropBoxHeight = 720;


                            cropper.setCropBoxData({
                                width: cropBoxWidth,
                                height: cropBoxHeight
                            });
                        }
                    });
                };
                reader.readAsDataURL(file);
            }
        });

        document.getElementById('confirmSaveButton').addEventListener('click', async function () {
            if (cropper) {
                const canvas = cropper.getCroppedCanvas({
                    width: 1280,
                    height: 720
                });
                canvas.toBlob(async function (blob) {
                    croppedBlob = blob;
                    const fileInput = document.getElementById('Image');
                    const dataTransfer = new DataTransfer();
                    dataTransfer.items.add(new File([croppedBlob], fileInput.files[0].name, { type: fileInput.files[0].type }));
                    fileInput.files = dataTransfer.files;

                    $('#editForm').submit();
                });
            } else {
                $('#editForm').submit();
            }
        });
    </script>
}
