@model IEnumerable<MemoriesWebApp.Models.Meeting>;

@{
    ViewData["Title"] = "Zegar";
    var previousMeeting = Model.ElementAtOrDefault(0);
    var upcomingMeeting = Model.ElementAtOrDefault(1);

    string formattedDateEndPrevious = previousMeeting != null ? previousMeeting.DateEnd.ToString("yyyy.MM.dd HH:mm:ss") : string.Empty;
    string formattedDateEndUpcoming = upcomingMeeting != null ? upcomingMeeting.DateStart.ToString("yyyy.MM.dd HH:mm:ss") : string.Empty;
}

    <div class="clock-container">
        <div id="clock"></div>

        <div id="countdown-container">
            <h2>Kolejny reunion z moją miłością za</h2>
            <div id="countdown"></div>
        </div>

        <div id="progress-bar-container">
            <div class="start-date">@formattedDateEndPrevious</div>
            <div id="progress-bar"></div>
            <div class="end-date">@formattedDateEndUpcoming</div>
        </div>
    </div>
