@{
    ViewData["Title"] = "Home Page";
}

    <div class="clock-container">
        <h1>Zegar pokazujący czas kiedy o tobie myśle</h1>
        <div id="clock"></div>

        <div id="countdown-container">
            <h2>Kolejne reunion z moją miłością za</h2>
            <div id="countdown"></div>
        </div>

        <div id="progress-bar-container">
            <div class="start-date">Start Date</div>
            <div id="progress-bar"></div>
            <div class="end-date">End Date</div>
        </div>
    </div>
