@model MemoriesWebApp.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="form-signin w-100 h-100 d-flex flex-column align-items-center justify-content-center" style="min-height: 80vh;">
    <form asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/512px-Bootstrap_logo.svg.png" alt="" width="72" height="57">

        <p class="h1 mb-3 fw-bold justify-content-start">Zarejestruj nowe konto</p>
        <div class="form-floating">
            <input asp-for="EmailAddress" type="email" class="form-control" id="floatingInput">
            <label asp-for="EmailAddress">Adres e-mail</label>
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Password" type="password" class="form-control" id="floatingPassword">
            <label asp-for="Password">Hasło</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="ConfirmPassword" type="password" class="form-control" id="floatingPassword">
            <label asp-for="ConfirmPassword">Portwierdź Hasło</label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        @if (Model.Errors != null)
        {
            <div class="col-md-12 alert alert-danger">
                <ul>
                    @foreach(var error in Model.Errors)
                    {
                        <li>
                            @error.Description
                        </li>
                    }
                </ul>
            </div>
        }
        <div class="btn-group gap-1 py-2">
            <a class="btn btn-outline-secondary w-50" onclick="history.back()">Powrót</a>
            <input class="btn btn-primary w-100" type="submit" value="Zarejestruj" />
        </div>
    </form>
</div>