html {
    font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    font-family: 'Times New Roman';
}

.clock-container {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

#countdown-container {
    position: relative;
    margin-bottom: 10px;
    margin-left: -110px;
}

h2 {
    font-weight: bolder;
    font-size: 2em;
    text-align: left;
    margin: 10px 0 0;
    padding-left: 10px;
}

#countdown {
    font-size: 1.5em;
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
}

#progress-bar-container {
    position: relative;
    height: 25px;
    border: 1px solid;
    width: 570px;
    overflow: hidden;
    margin-bottom: 30px;
}

#progress-bar {
    height: 100%;
    background-color: #ff69b4;
    width: 0;
    transition: width 1s ease-in-out;
}

.start-date {
    left: 0;
    top: 50%;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    white-space: nowrap;
}

.end-date {
    left: 0;
    top: 50%;
    margin-left: 495px;
    margin-top: -12px;
    transform: translateY(-50%);
    font-size: 14px;
    white-space: nowrap;
}

#clock {
    position: relative;
    margin: auto;
    width: 680px;
    height: 680px;
    border: 5px solid #000000;
    border-radius: 50%;
    font-size: 34px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 25px #000000;
}

.hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 50% 100%;
    transform: translateY(-100%) rotate(0deg);
    white-space: nowrap;
    height: 231.2px;
    background: linear-gradient(to bottom, #666, #333);
    border-radius: 8px;
}

.number {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3);
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
    #clock {
        width: 80vw;
        height: 80vw;
    }

    .number {
        font-size: 15px;
    }

    .hand {
        height: 100px;
    }

    h2 {
        font-size: 1.5em;
        margin: 5px 0 0;
    }

    #countdown-container {
        margin-left: 0px;
    }

    #countdown {
        font-size: 1em;
        margin-top: 3px;
    }

    #progress-bar-container {
        width: 95%;
        margin-bottom: 90px;
    }

    .dot {
        width: 12px;
        height: 12px;
    }

    .end-date {
        margin-left: 76%;
    }
}
